.pokedex {
	margin-bottom: 50px;
	h1 {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	.pokemon {
		display: grid;
		margin: 40px 0;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: "header header header header header header" "picture stats stats stats stats stats";
		align-items: center;
		grid-gap: 20px;
		@media (max-width: 992px) {
			grid-template-areas: "header header header header header header" "picture picture picture picture picture picture" "stats stats stats stats stats stats";
		}
		h2 {
			grid-area: header;
		}
		.pokemon-pic {
			grid-area: picture;
			height: 151px;
			img {
				border: 1px solid #000000;
				height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
		.pokemon-stats {
			grid-area: stats;
			border-collapse: collapse;
			width: 100%;
			table {
				width: 100%;
				text-align: center;
				margin: 0 auto;
				@media (max-width: 768px) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-template-areas: "thead tbody";
				}
				thead {
					tr {
						@media (max-width: 768px) {
							display: flex;
							flex-direction: column;
							grid-area: thead;
						}
					}
					td {
						font-weight: 500;
						border: 2px solid #000000;
					}
				}
				tbody {
					tr {
						@media (max-width: 768px) {
							display: flex;
							flex-direction: column;
							grid-area: tbody;
						}
					}
				}
				td {
					height: 50px;
					border: 1px solid #000000;
					vertical-align: middle;
					@media (max-width: 768px) {
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
	.controls {
		display: flex;
		justify-content: space-around;
	}
}