.pokedex {
	margin-bottom: 50px;
	//padding: 0 50px;
	h1 {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	.pokemon {
		display: grid;
		margin: 40px 0;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: "header header header header header header" "picture stats stats stats stats stats";
		align-items: center;
		grid-gap: 20px;
		h2 {
			grid-area: header;
		}
		.pokemon-pic {
			grid-area: picture;
			border: 1px solid #000000;
			height: 151px;
			img {
				height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
		.pokemon-stats {
			grid-area: stats;
			border-collapse: collapse;
			width: 100%;
			table {
				width: 90%;
				text-align: center;
				margin: 0 auto;
				height: 100%;
				thead {
					td {
						font-weight: 500;
						border: 2px solid #000000;
					}
				}
				td {
					border: 1px solid #000000;
					padding: 28px;
				}
			}
		}
	}
	.controls {
		display: flex;
		justify-content: space-around;
	}
}