.favorites {
	h2 {
		margin-bottom: 50px;
	}
	.pokemons {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 20px;
		@media (max-width: 1190px) {
			grid-template-columns: repeat(6, 1fr);
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (max-width: 576px) {
			grid-template-columns: repeat(2, 1fr);
		}
		div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: center;
			border: 1px solid #000000;
			height: 150px;
			img, p {
				margin: 0 auto;
			}
		}
	}
}